@charset "utf-8";
/* 2015-10-22 add */
/*首页banner轮播*/
.en-banner{width:100%; position:relative;min-height:430px !important;}
.slideshow{width:100%; float:left;}
.slideshow > div{width:100%;float:left;}
.slideshow > div img{width:100%; height:100%;}
.en-banner:hover .prev,.en-banner:hover .next{display:block}
.en-banner .btnBg{display:none;overflow:hidden;width:100%;}
.prev,.next {display:none;top:200px;position:absolute;width:60px;height:120px;cursor:pointer;z-index:999;opacity:0.7;}
.prev:hover,.next:hover{opacity:1;}
.prev {left:20px;background:url(../images/u-slide-btn.png) no-repeat left top;}
.next {right:20px;background:url(../images/u-slide-btn.png) no-repeat right top;}
.bImg{min-width:1190px;}
.mian-word {position:absolute; bottom:120px; width:100%; z-index:1000;}
.mian-word .word-pel{ margin:0px auto; width:866px;text-align:right;text-shadow: 10px 0px 60px rgba(0,0,0,.5);}
.mian-word .word-pel b,.mian-word .word-pel font{ display:block;color:#FFF; font-weight:normal;}
.mian-word .word-pel b{ font-size:32px; line-height:40px;}
.mian-word .word-pel font{ font-size:18px; line-height:30px;}  
.overflow{position:relative;min-width:1190px;width:100%;overflow:hidden;}
.banner_con{position:relative;min-width:1190px;width:100%;}
@media screen and (min-width:1920px){.banner_con{height:694px;}}
@media screen and (min-width:1900px) and (max-width: 1919px) {.banner_con{height:687px;}.overflow{height:687px;}} 
@media screen and (min-width:1800px) and (max-width: 1899px) {.banner_con{height:650px;}.overflow{height:650px;}} 
@media screen and (min-width:1770px) and (max-width: 1799px) {.banner_con{height:635px;}.overflow{height:635px;}}
@media screen and (min-width:1700px) and (max-width: 1769px) {.banner_con{height:612px;}.overflow{height:612px;}}
@media screen and (min-width:1600px) and (max-width: 1699px) {.banner_con{height:579px;}.overflow{height:579px;}}
@media screen and (min-width:1500px) and (max-width: 1599px) {.banner_con{height:550px;}.overflow{height:550px;}}
@media screen and (min-width:1470px) and (max-width: 1499px) {.banner_con{height:538px;}.overflow{height:538px;}}
@media screen and (min-width:1400px) and (max-width: 1469px) {.banner_con{height:500px;}.overflow{height:500px;}}
@media screen and (min-width:1300px) and (max-width: 1399px) {.banner_con{height:475px;}.overflow{height:475px;}}
@media screen and (min-width:1200px) and (max-width: 1299px) {.banner_con{height:436px;}.overflow{height:436px;}} 
@media screen and (min-width:1190px) and (max-width: 1199px) {.banner_con{height:435px;}.overflow{height:435px;}}
@media screen and (max-width:1189px){.banner_con{height:435px;}}

 


/*首页日历城市选择*/
/*.select-hotcity,.select-box{overflow: hidden;border: 1px solid #b9b9b9;z-index: 999;background: #fff;}
.select-hotcity{position: absolute;top:79px;width:483px;display:none; z-index:40000;border-bottom-left-radius:2px;border-bottom-right-radius:2px;}
.select-title{float:left;width:72px;padding:0 19px 0 3px;box-sizing:border-box;}
.select-citycon {width:410px;float:left;padding-left:6px;}
.select-title li,.select-citycon li{float: left;border-top: #fff solid 1px;font-size: 14px;margin-bottom: 0;}
.select-citycon li{width: 79px;}
.hotcity li{width:auto !important;padding-right:15px;}
.select-title li{width:50px;text-align: center;}*/
.select-hotcity,.select-box{overflow: hidden;border: 1px solid #b9b9b9;z-index: 999;background: #fff;}
.select-hotcity{position: absolute;top:106px;width: 483px;display:none;left:3px;}
.select-title{overflow: hidden;}
.select-citycon {padding: 5px 0;overflow: hidden;padding-left:6px;}
.select-title li,.select-citycon li{float: left;width:20%;margin-bottom: 0;}
.select-title li a{display: block;height: 32px;line-height: 32px;overflow: hidden;border-bottom: 1px solid #e0e0e0;padding-left:12px; text-align:left;box-sizing:border-box;}
.citylili a::before, .citylili a::after {display: inline-block;opacity: 0;transition: transform 0.3s ease 0s, opacity 0.2s ease 0s;}
.citylili a::before {content: "[";margin-right:2px;transform: translateX(2px);}
.citylili a::after {content: "]";margin-left:2px;transform: translateX(-2px);}
.citylili a:hover::before, .citylili a:hover::after, .citylili a:focus::before, .citylili a:focus::after {opacity: 1;transform: translateX(0px);}
.select-citycon li{line-height: 25px;}
.select-title li a.selected{color: #47aa42; border-bottom:1px #47aa42 solid;}
.select-citycon li a:hover,.citylili a:hover{color: #47aa42;}
.hotmore{font-size:12px;margin-bottom:5px;color:#444444;display: block; border-top: 1px solid #e0e0e0; width: 100%; text-align: left; margin-left: 10px;}

/*首页城市、主题、房源*/
.ads-room{height:100px;width:100%;background-color:#edefed;padding:25px 0;box-sizing:border-box;}
.ads-room ul,.index-box ul.city{width:1188px;margin:0 auto;overflow:hidden;}
.ads-room ul li,.index-box ul.city li,.index-box ul.safe li{width:297px;float:left;text-align:center;}
.ads-room ul li{line-height:25px;}
.ads-room p{color:#322c27;font-size:20px;}
.index-box-tit{padding:35px 0 135px 0}
.index-box-tit h1{font-size:40px;color:#322c27;}
.index-box ul.city li{height:180px;line-height:180px;position:relative;}
.index-box ul.city li a,.index-box ul.theme li a{position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/opacity_bg.png) repeat;color:#fff;font-size:32px;}
.index-box ul.theme li img{width:100%;height:100%;transition: transform 0.3s ease 0s; }
.index-box ul.city li img{width:100%;height:100%;transition: transform 0.3s ease 0s; }
.index-box ul.city li:hover a{background:url(../images/opacity_bg_hover.png) repeat;}
.index-box{overflow:hidden;}

.index-box ul.theme,.index-box ul.safe{width:1188px;margin:0 auto;overflow:hidden;}
.index-box ul.apart{width:1189px;margin:0 auto;}
.index-box ul.theme li{width:282px;height:400px;float:left;position:relative;color:#fff;overflow:hidden;}
.index-box ul.theme li b{position:absolute;right:20px;top:20px;border:2px solid #fff;width:40px;box-sizing:border-box;font-size:20px;padding:5px 7px;text-align:center;line-height:22px;}
.index-box ul.theme li p{position:absolute;right:70px;top:30px;width:16px;line-height:15px;}
.index-box a.more{width:300px;height:40px;border:1px solid #edefed;background-color:#f5f5f5;display:block;margin:40px auto 0;line-height:38px;box-sizing:border-box;color:#322c27;}
.index-box a.more:hover{border-color:#c4c4c4;background-color:#edefed;}
.index-box ul.apart li{float:left;position:relative;}
.index-box ul.apart li img{margin-bottom:10px;width:383px;display:block;}
.index-box ul.theme li:hover img{transform: scale(1.05);}
.index-box ul.apart li img.two-size{width:786px;}
.index-box ul.apart li img.contact{width:50px;height:50px;display:block;border-radius:50%;border:2px solid #fff;}
.index-box ul.apart li .btn-img,.btn-img1{position:absolute;right:20px;bottom:25px;z-index:9;cursor:pointer;}
.index-box ul.apart li .btn-img:hover,.btn-img1:hover {background: rgba(0, 0, 0, 0) url("../images/linkfd54.png") no-repeat scroll 0 0;}
.index-box ul.apart li .btn-img img:hover,.btn-img1 img:hover {opacity: 0.2;}
.index-box ul.apart li b.moy-b{position: absolute;padding: 2px 10px;top:250px;left: 0px;background-color: rgba(50,44,39,.9);z-index:9;font-size: 24px;color: #fff;}
.index-box ul.apart li b.moy-b font{font-size:14px;}
.index-box ul.apart li b{font-size:20px;color:#322c27;line-height:30px;}
.index-box ul.apart li ul li{margin-right:5px;color: #777776;}
.content-box .date-box:last-child{display:none;}
