<html>
<head>
<title>U+后台管理</title>
<meta http-equiv=Content-Type content=text/html;charset=utf-8>
</head>
<body>
<iframe width="100%" height="80px" name="main" scrolling="auto" frameborder="0" src="index.php?r=index/admin_top"></iframe>
<div class="">
    <div class="" style="width:18%; float:left; height:1000px">
        <iframe src="index.php?r=index/left" width="100%" height="100%" name="leftFrame" id="leftFrame" scrolling="No" title="leftFrame"  frameborder="0" framespacing="0" /></iframe>
    </div>
    <div style="float:right; width:82%; height:1000px" >
        <iframe src="index.php?r=user/right" width="100%" height="100%" name="rightFrame" id="rightFrame" scrolling="No" title="rightFrame" frameborder="0" framespacing="0" /></iframe>
    </div>
</div>
</body>
</html>


