<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table id="sample-table-1" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>房东名称</th>
            <th>房东邮箱</th>
            <th>房东电话</th>
            <th>房东昵称</th>
            <th>操作</th>
          </tr>
        </thead>
        
        <?php foreach ($res as $k=>$v){ ?>
        <tbody>
          <tr>
            <td><?php echo $v['u_id']  ?></td>
            <td class="hidden-480"><?php echo $v['u_name']  ?></td>
            <td><?php echo $v['u_email']  ?></td>
            <td><?php echo $v['u_tel']  ?></td>
            <td class="hidden-480">
              <span class="label label-sm label-warning">
                <?php echo $v['pet_name']  ?>
              </span>
            </td>

            <td>
              <a class="deleteName" href="javascript:void(0);" value="<?php echo $v['u_id']  ?>">
              <i class="icon-trash bigger-120"></i>
              </a>
            </td>
          </tr>
        </tbody>
        <?php } ?>
      </table>
      <!--分页 start-->
      <?php
        use yii\widgets\LinkPager;
      ?>
          <div class="pull-right">
                          
            <i class="pre" href="javascript:void(0);" >&nbsp;</i>
                           
            <?php
              echo LinkPager::widget(['pagination'=>$pages]);
              
            ?>
            <i class="after" href="javascript:void(0);">&nbsp;</i>
             
          </div> 
            <!--分页 end-->
    </div><!-- /.table-responsive -->
  </div><!-- /span -->
</div><!-- /row --> 
