<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>房源列表</title>
<link rel="stylesheet" type="text/css" href="css/erweima-style.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/js.js"></script>
</head>

<body>
<div class="chuda_co" id="container">
  <div class="co-box">
    <div class="title">
      <h4>房源管理>>房源列表</h4>
    </div>
    <div class="right container">
        <div class="custom-info">
            <div class="info-box">
                <form action="index.php?r=fyuan/fy_list" method="post">
                <ul class="ul-datetime">
                    <li>
                        <label>联系人名称：</label>
                        <input type="text" class="w100" name="linkman">
                    </li>
                    <li><input type="submit" class="btn01" value="查询"/></li><a class="btn02" href="javascript:void(0)" onclick="delall()">批量删除</a>
                </ul>
                    <input type="hidden" name="_csrf" value="<?php echo Yii::$app->request->csrfToken; ?>"/>
                </form>
                <!--<a class="btn03" href="">新增用户</a>-->
            </div>
        </div>
      <!--detail start-->
      <div class="co-detail clearfix" id="content">
        <table class="tablelist" border="0" cellpadding="0" cellspacing="0">
            <thead>
              <tr>
                <th>请选择</th>
                <th>发布人</th>
                <th>房屋地址</th>
                <th>热售</th>
                <th>精品</th>
                <th>特价</th>
                <th>操作</th>
              </tr>
            </thead>
            <?php foreach($data as $v) {?>
            <tbody>
              <tr id="tr_<?php echo $v['h_id']?>">
                  <td><input type="checkbox" name="xz[]" id="<?php echo $v['h_id']?>"/><?php echo $v['h_id']?></td>
                  <td><?php echo $v['admin_user']?></td>
                  <td ><a href="index.php?r=fyuan/fy_more&id=<?php echo $v['h_id']?>" style="color:red;"><?php echo $v['h_address']?></a></td>

                  <td id="hot_<?php echo $v['h_id']?>"><a href="javascript:void(0)" onclick="check_hot(this)" id="<?php echo $v['h_id']?>" title="<?php echo $v['is_hot']?>"><?php if($v['is_hot']==0){ ?>
                    <img src="images/no.gif"/><?php }else{ ?>
                     <img src="images/yes.gif"/><?php  }?></a></td>

                      <td id="best_<?php echo $v['h_id']?>"><a href="javascript:void(0)" onclick="check_best(this)" id="<?php echo $v['h_id']?>" title="<?php echo $v['is_best']?>"><?php if($v['is_best']==0){ ?>
                      <img src="images/no.gif"/><?php }else{ ?>
                      <img src="images/yes.gif"/><?php  }?></a></td>

                  <td id="cheap_<?php echo $v['h_id']?>"><a href="javascript:void(0)" onclick="check_cheap(this)" id="<?php echo $v['h_id']?>" title="<?php echo $v['is_cheap']?>"><?php if($v['is_cheap']==0){ ?>
                      <img src="images/no.gif"/><?php }else{ ?>
                      <img src="images/yes.gif"/><?php  }?></a></td>
                 <td class="operation"><a class="edit" href="javascript:void(0)" onclick="del(this)" id="<?php echo $v['h_id']?>">删除</a></td>
              </tr>
            <?php }?>
            </tbody>
          </table>
          <!--分页 start-->
         <?php echo $page?>
          <!--分页 end-->
      </div>
      <!--detail end-->
    </div>
  </div>
</div>
<div class="pop_layer add-mess">
  <div class="fill-info pop-layer-box">
    <h3 class="title-big">修改班级信息</h3><a class="pop-close">X</a>
    <div class="info-box">
      <ul>
        <li>
          <label>班级名称：</label>
          <input type="text" name="name" class="w200 name" value="">
        </li>
        <li>
          <label>班主任：</label>
          <select class="w200">
            <option>于强</option>
            <option>张三</option>
          </select>
        </li>
        <li>
          <label>讲师：</label>
          <select class="w200">
            <option>李朋</option>
            <option>王五</option>
          </select>
        </li>
      </ul>
    </div>
    <div class="preview"> <a class="preview-btn btn01">保存</a> <a class="cancel-btn btn01">取消</a> </div>
  </div>
</div>
</body>
</html>
<script>
    function del(obj){
      var id=obj.id;
        //location.href="index.php?r=fyuan/clock";
        var url='index.php?r=fyuan/del';
        var data={'id':id};
        $.get(url,data,function(msg){
            if(msg==1){
                $('#tr_'+id).remove();
            }
        })
    }

    function delall(){
        var str='';
        var xuan=document.getElementsByName('xz[]');
        for(var i=0;i<xuan.length;i++){
            if(xuan[i].checked){
                str+=xuan[i].id+',';
            }
        }
        var id=str.substr(0,str.length-1);
        var url='index.php?r=fyuan/del';
        var data={'id':id};
        $.get(url,data,function(msg){
            if(msg==1){
                for(i=xuan.length-1;i>=0;i--) {
                    if (xuan[i].checked) {
                        $('#tr_' + xuan[i].id).remove();
                    }
                }
            }
        })
    }
//热卖
    function check_hot(obj){
        var id=obj.id;
        var lock=obj.title;
        var url='index.php?r=fyuan/check_hot&act=hot';
        var data={'id':id,'lock':lock};
        var str='';
        $.get(url,data,function(msg){
            if(msg==1){
                if(lock==0){
                    str+="<td id='hot_"+id+"'>";
                    str+="<a href='javascript:void(0)' onclick='check_hot(this)' id='"+id+"' title='1'>";
                    str+="<img src='images/yes.gif'/></a></td>";
                }else{
                    str+="<td id='hot_"+id+"'>";
                    str+="<a href='javascript:void(0)' onclick='check_hot(this)' id='"+id+"' title='0'>";
                    str+="<img src='images/no.gif'/></a></td>";
                }
                $('#hot_'+id).html(str);
            }
        })
    }

    //优质
    function check_best(obj){
        var id=obj.id;
        var lock=obj.title;
        var url='index.php?r=fyuan/check_hot&act=best';
        var data={'id':id,'lock':lock};
        var str='';
        $.get(url,data,function(msg){
            if(msg==1){
                if(lock==0){
                    str+="<td id='best_"+id+"'>";
                    str+="<a href='javascript:void(0)' onclick='check_best(this)' id='"+id+"' title='1'>";
                    str+="<img src='images/yes.gif'/></a></td>";
                }else{
                    str+="<td id='best_"+id+"'>";
                    str+="<a href='javascript:void(0)' onclick='check_best(this)' id='"+id+"' title='0'>";
                    str+="<img src='images/no.gif'/></a></td>";
                }
                $('#best_'+id).html(str);
            }
        })
    }
    //特价
    function check_cheap(obj){
        var id=obj.id;
        var lock=obj.title;
        var url='index.php?r=fyuan/check_hot&act=cheap';
        var data={'id':id,'lock':lock};
        var str='';
        $.get(url,data,function(msg){
            if(msg==1){
                if(lock==0){
                    str+="<td id='cheap_"+id+"'>";
                    str+="<a href='javascript:void(0)' onclick='check_cheap(this)' id='"+id+"' title='1'>";
                    str+="<img src='images/yes.gif'/></a></td>";
                }else{
                    str+="<td id='hot_"+id+"'>";
                    str+="<a href='javascript:void(0)' onclick='check_cheap(this)' id='"+id+"' title='0'>";
                    str+="<img src='images/no.gif'/></a></td>";

                }
                $('#cheap_'+id).html(str);
            }
        })
    }
</script>
